.green{
    background-color: #18bd63;
}

.yellow{
    background-color: #EEAA00;
}

.red{
    background-color: #F91944;
}

.gray{
    background-color: #F3F4F6;
}

.white{
    background-color: #FFFFFF;
}