@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .menu_tab {
    @apply text-gray-800 cursor-pointer select-none;
  }
  .active_menu_tab {
    @apply rounded-full px-4 py-2 text-white select-none;
  }

  .green {
    background-color: #18bd63;
  }

  .yellow {
    background-color: #eeaa00;
  }

  .red {
    background-color: #f91944;
  }

  .outline-red {
    outline-color: #f91944;
  }

  .gray {
    background-color: #f3f4f6;
  }

  .white {
    background-color: #ffffff;
  }
}

@keyframes swoopIn {
  0% {
    transform: translateY(-150%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes swoopOut {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-150%);
  }
}

.animate-swoop-in {
  animation: swoopIn 0.4s ease-in-out;
}

.animate-swoop-out {
  animation: swoopOut 0.4s ease-in-out;
}
